---
import { PLATFORM_BASE_URL } from "../constants";
import SafeGlobalsTable from "./SafeGlobalsTable.astro";
import TablesSearchBar from "./TablesSearchBar.astro";

type SafeGlobals = {
  [key: string]: {
    type: string;
    docs: string;
    is_callable: boolean;
    signature: string;
    is_builtin: boolean;
    parent: string;
    is_exception: boolean;
  };
};

type SafeGlobalsResponse = {
  message: SafeGlobals;
};

const endpoint = `${PLATFORM_BASE_URL}/api/method/bwh_tools.api.get_serialized_safe_globals`;
let response = await fetch(endpoint);
let data: SafeGlobalsResponse = await response.json();
let safeGlobals = data.message;

const exceptions = safeGlobals.exceptions;

// group by parent, if parent is empty group under "Global"
let groupedSafeGlobals = Object.entries(safeGlobals).reduce(
  (acc, [name, value]) => {
    let parent = value.parent || "Global";
    if (!acc[parent]) {
      acc[parent] = {};
    }
    acc[parent][name] = value;
    return acc;
  },
  {} as { [key: string]: SafeGlobals }
);

// Sort  by parent name, "Global" should come first
let items = Object.entries(groupedSafeGlobals);
items.sort(([a], [b]) => {
  if (a === "Global") {
    return -1;
  }
  if (b === "Global") {
    return 1;
  }
  return a.localeCompare(b);
});

// processed API list for search [{name: "", docs: ""}]
let apiList = Object.entries(safeGlobals).map(([name, value]) => {
  return {
    name,
    docs: value.docs,
  };
});
---

<!-- use the data to render a table for each group -->
<TablesSearchBar globals={apiList} />

<h2 id="search-results-title" style="margin-bottom: 1.5rem; display: none;">
  Search Results
</h2>
<table id="search-results-table"></table>

{
  items.map(([parent, globals]) => (
    <ta>
      <h2 style="margin-bottom: 1.5rem; margin-top: 1rem;">{parent}</h2>
      <SafeGlobalsTable parent={parent} globals={globals} />
    </ta>
  ))
}

<!-- render exceptions table -->
<h2 style="margin-bottom: 1.5rem;">Exceptions</h2>
<SafeGlobalsTable globals={exceptions} is_exception={true} />
